/* jTree Css Reset */
/* http://meyerweb.com/eric/tools/css/reset/  */

.j-tree-editor html, .j-tree-editor body, .j-tree-editor div, .j-tree-editor span, .j-tree-editor applet, .j-tree-editor object, iframe,
.j-tree-editor h1, .j-tree-editor h2, .j-tree-editor h3, .j-tree-editor h4, .j-tree-editor h5, .j-tree-editor h6, .j-tree-editor p, .j-tree-editor blockquote, pre,
.j-tree-editor a:not(.fa, .far, .fas), .j-tree-editor abbr, .j-tree-editor acronym, .j-tree-editor address, .j-tree-editor big, .j-tree-editor cite, code,
.j-tree-editor del, .j-tree-editor dfn, .j-tree-editor em, .j-tree-editor img, .j-tree-editor ins, .j-tree-editor kbd, .j-tree-editor q, .j-tree-editor s, samp,
.j-tree-editor small, .j-tree-editor strike, .j-tree-editor strong, .j-tree-editor sub, .j-tree-editor sup, .j-tree-editor tt, var,
.j-tree-editor b, .j-tree-editor u, .j-tree-editor i:not(.fa, .far, .fas), center,
.j-tree-editor dl, .j-tree-editor dt, .j-tree-editor dd, .j-tree-editor ol, .j-tree-editor ul, li,
.j-tree-editor fieldset, .j-tree-editor form, .j-tree-editor label, legend,
.j-tree-editor table, .j-tree-editor caption, .j-tree-editor tbody, .j-tree-editor tfoot, .j-tree-editor thead, .j-tree-editor tr, .j-tree-editor th, td,
.j-tree-editor article, .j-tree-editor aside, .j-tree-editor canvas, .j-tree-editor details, .j-tree-editor embed, 
.j-tree-editor figure, .j-tree-editor figcaption, .j-tree-editor footer, .j-tree-editor header, .j-tree-editor hgroup, 
.j-tree-editor menu, .j-tree-editor nav, .j-tree-editor output, .j-tree-editor ruby, .j-tree-editor section, summary,
.j-tree-editor time, .j-tree-editor mark, .j-tree-editor audio, .j-tree-editor video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
.j-tree-editor article, .j-tree-editor aside, .j-tree-editor details, .j-tree-editor figcaption, .j-tree-editor figure, 
.j-tree-editor footer, .j-tree-editor header, .j-tree-editor hgroup, .j-tree-editor menu, .j-tree-editor nav, .j-tree-editor section {
	display: block;
}
.j-tree-editor body {
	line-height: 1;
}
.j-tree-editor ol, .j-tree-editor ul {
	list-style: none;
}
.j-tree-editor blockquote, .j-tree-editor q {
	quotes: none;
}
.j-tree-editor blockquote:before, .j-tree-editor blockquote:after,
.j-tree-editor q:before, .j-tree-editor q:after {
	content: none;
}
.j-tree-editor table {
	border-collapse: collapse;
	border-spacing: 0;
}
.j-tree-editor ul, .j-tree-editor ol, .j-tree-editor ul > li, .j-tree-editor ol > li {
  margin: 0px;
  padding: 0px;
}

.j-tree-editor *,
.j-tree-editor *:focus {
  outline: none;
}